- unless request.referer == new_project_story_url(@project)  # Verifica si la URL de la página anterior es la de crear una nueva historia
  = link_to 'Atrás', project_story_path(@project, @story), class: "btn btn-secondary"
%h1 Nuevo Ticket

= render 'form'


